body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('imagenes/qwea.png');
    background-size: cover;
}

.title {
    font-size: 2.1rem;
    line-height: 1.4;
    letter-spacing: 0.5rem;
    text-align: center;
    color: white;
    margin-top: 20px;
    width: 100%;
}

.subtitle {
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;
    color: white;
    margin-top: 10px;
    width: 100%;
}

.image-container {
    text-align: center;
    position: relative;
    max-width: 80%;
    margin: 0 auto; 
    
}

.image-wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    overflow: hidden;
    
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    
}

.button-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-link {
    text-align: center;
    display: block;
    margin-top: 10px;
}

.fade-out {
    opacity: 0;
}